<% include partials/header.ejs %>
<div class="table-wrapper">
    <% if (postings.length > 0) {%>
    <table class="table table-hovered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Interviewer Name</th>
                <th scope="col">Time</th>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Position</th>
                <th scope="col">Company</th>
            </tr>
        </thead>
        <tbody>
            <% postings.forEach((player, index) => { %>
            <tr>
                <th scope="row"><%= player.interviewerName %></th>
                <td><%= player.time %></td>
                <td><%= player.date %></td>
                <td><%= player.location %></td>
                <td><%= player.title %></td>
                <td><%= player.company %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p class="text-center">No Interviews found.</p>
    <% } %>
</div>
</div>
</body>

</html>