<% include partials/header.ejs %>
<h1> All References </h1>
<div class="table-wrapper">
    <% if (postings.length > 0) {%>
    <div>
        <button type="button" id="add" class="btn-primary float-right">Add Reference</button>
        <script type="text/javascript">
            document.getElementById("add").onclick = function () {
                location.href = document.URL + 'add/';
            };
        </script>
        <br />
    </div>
    <table class="table table-hovered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">name</th>
                <th scope="col">phoneNumber</th>
                <th scope="col">currentTitle</th>
            </tr>
        </thead>
        <tbody>
            <% postings.forEach((postings, index) => { %>
            <tr>
                <th scope="row"><%= postings.name %></th>
                <td><%= postings.phoneNumber %></td>
                <td><%= postings.currentTitle %></td>
                <td>
                    <a href="<%= postings.phoneNumber %>/edit/" target="_blank" rel="noopener"
                        class="btn btn-sm btn-success">Edit References</a>
                </td>
                <td>
                    <a href="<%= postings.phoneNumber %>/delete/" target="_blank" rel="noopener"
                        class="btn btn-sm btn-success">Delete References</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
    <p class="text-center">No Reference found. Go <a href="/add/">here</a> to add posting.</p>
    <% } %>
</div>
</div>
</body>

</html>